{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - Microblog{% else %}Welcome to Microblog{% endif %}
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='css/bootstrap.min.css')}}">
{% endblock %}

{% block scripts %}
<script src="{{url_for('.static', filename='js/bootstrap.min.js')}}"></script>
{{super()}}
{% endblock %}

{% block navbar %}

    <div class="d-flex flex-column flex-md-row align-items-right p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <h2 class="my-0 mr-md-auto font-weight-normal">{{ me.employer }}</h2>
      <h3 class="my-0 mr-md-auto font-weight-normal">{{ me.position }}</h3>
      <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="{{ url_for('index') }}">Resumé</a>
        <a class="p-2 text-dark" href="{{ url_for('jobform') }}">Add item</a>
      </nav>

        {% if mode == '3'%}

        {% else%}

            {% if mode == '0' %}
                <form method="POST">
                    <input type="hidden" name="mode" value="1">
                    <!--<input type="submit" value="to EDIT">-->
                    <button class="btn btn-outline-warning btn-lg btn-block" type="submit" value="to EDIT">to EDIT</button>
                </form>
            {% else %}
                <form method="POST">
                    <input type="hidden" name="mode" value="0">
                    <button class="btn btn-outline-success btn-lg btn-block" type="submit" value="to VIEW">to VIEW</button>
                </form>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}

{% block content %}

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-info" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}

        {% block app_content %}{% endblock %}

{% endblock %}