{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Add Item</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 order-md-1">
            <form method="post">
                {{ form.hidden_tag() }}

                <div class="mb-3">
                    <label>{{ form.category.label }}</label>
                    <input type="text" class="form-control" name="category">
                    {% for error in form.category.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-lg-8 col-md-6 col-sm-6 mb-3">
                        <label>{{ form.title.label }}</label>
                        <input type="text" class="form-control" name="title">
                        {% for error in form.title.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 mb-3">
                        <label>{{ form.subtitle.label }}</label>
                        <input type="text" class="form-control" name="subtitle">
                        {% for error in form.subtitle.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label>{{ form.location.label }}</label>
                        <input type="text" class="form-control" name="location">
                        {% for error in form.location.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                    <div class="col-md-6 mb-3">
                        <label>{{ form.period.label }}</label>
                        <input type="text" class="form-control" name="period">
                        {% for error in form.period.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="mb-3">
                    <label>{{ form.url.label }}</label>
                    <input type="text" class="form-control" name="url">
                </div>
                <div class="mb-3">
                    <label>{{ form.description.label }}</label>
                    <textarea class="form-control" name="description" rows="5"></textarea>
                    {% for error in form.description.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <hr class="mb-4">
                <div class="row">
                    <div class="col-md-6 mb-3"></div>
                    <div class="col-md-6 mb-3">
                        <button class="btn btn-success btn-lg btn-block" type="submit" name="submit">Add</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}